In [3]:
import pandas as pd

                                     _______________________________________
                        Импортируйте пандас и прочитайте данные с кодировкой ISO-8859-1.
                                    Запишите полученный датафрейм в retail, 
                            а названия колонок сохраните в переменную retail_columns.
                                     _______________________________________

In [11]:
retail = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-dolgih/qqqqqqq', encoding='ISO-8859-1', compression='zip')
#Импортируем zip архив, сначала прогружая сам путь
# прописываем encoding для чтения либо 'Windows-1251' либо 'ISO-8859-1'
# Ставим компрессию файла, показывая питону что это zip архив и его надо распокавать compression='zip'

In [12]:
retail
#Смотрим результат - на таблицу

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [13]:
retail.columns
#Смотрим название колонок через функцию .columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [14]:
retail_columns = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
#Записываем в перемнную retail_columns названия колонок по заданию.

                                               _________________________
                                Проверьте, встречаются ли в данных повторяющиеся наблюдения, 
                                  и в качестве ответа укажите их количество. Если они есть, 
                                               то удалите их из retail.
                                               _________________________

In [15]:
retail.shape
# Смотрим на число строк и столбцов в датафрейме retail

(541909, 8)

In [16]:
len(retail) - len(retail.drop_duplicates())
# для того что бы в строках удалить дубликаты - мы воспользуемся функцией retail.drop_duplicates()
# тем самым вычтем дубликаты из датафрейма retail

5268

In [17]:
retail = retail.drop_duplicates()
# записываем результат удаления дубликатов в переменную
#Удаляем повторяющиеся строки (дубликаты) из датафрейма retail
#Удаляем повторяющиеся элементы в датафрейме через функцию .drop_duplicates()

                                              ______________________________________
                           Данные содержат в себе записи как об успешных транзакциях, так и об отмененных.
                                   Если пользователь отменил заказ, в начале номера транзакции 
                                            (InvoiceNo) ставится C (canceled). 

                                     Сколько всего транзакций отменили пользователи? 
                                 Считайте, что каждая строка - это отдельная транзакция.
                                               ______________________________________

In [23]:
retail.InvoiceNo.str[0]
#Обратимся к конкретному индексу в СТРОКЕ по колонке InvoiceNo

0         5
1         5
2         5
3         5
4         5
         ..
541904    5
541905    5
541906    5
541907    5
541908    5
Name: InvoiceNo, Length: 536641, dtype: object

In [19]:
retail.InvoiceNo.str[0].unique()
# так же мы можем посмотреть уникальные префексы в нашей строке, которые у нас присутствуют
# для этого, как и в прошлой строке обратимся к ДФ и колонке, по индексации, после чего
# обратимся к методу unique что бы найти уникальные значения в строках

array(['5', 'C', 'A'], dtype=object)

In [24]:
retail.loc[retail.InvoiceNo.str[0] == 'C'].shape
# далее нам необходимо отфильтровать только те, значения что начинаются с "C"
# для этого мы применим конструкцию датафрейм.loc и в квадратные скобки передадим путь
# и колонку, с обозначением строки по индексу где наша колонка должна ровняться == 'C'
# после чего узнаем размер строк с помощью метода .shape

(9251, 8)

                                                ________________________________                               
                               Теперь отфильтруйте данные и оставьте в retail только те заказы, 
                              где Quantity > 0. В качестве ответа укажите число оставшихся строк.
                                                _________________________________

In [28]:
retail = retail.loc[retail.Quantity >0]
# Передаём в переменную retail путь к колонке и отбурём только те значения
# которые больше 0
# тем самым в прописав датафреймюloc и в квадратные скобки передадим нужное значение
# где колонка в retail.Quantity > 0

In [29]:
retail.shape
# посмотрим на число строк в retail

(526054, 8)

                                           ____________________________________________
                          Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany).
                        Оставьте только тех, кто совершил более N транзакций (InvoiceNo), где N – 80% процентиль.
                          Запишите полученные id пользователей в germany_top (не весь датафрейм, только id).
                                           ____________________________________________

In [41]:
invoice_dist = retail.loc[retail.Country == 'Germany'].groupby('CustomerID',
                                                          as_index=False).agg(
    total_invoices=('InvoiceNo', 'nunique'))
# Далее нам нужно вычислить колличество заказов для каждого пользователя из Германии
# Первым делом отфильтруем пользователей при помощи функции датафрейм.loc
# куда передадим в скобки [датафрейм.колонка должна ровняться результату == 'Germany'] сказав
# что нам нужны только пользователи из германии
# далее сгруппируем данные с помощью функции .groupby куда передадим колонку 'customerID' так как
# нам нужно считать по колличеству заказов пользователей
# далеее ставим as_index=False - обозначая что не хотим устанавливать идентификатор столбца 
# в качестве индекса
# а дальше с помощью агрегации применим nunique и скажем что хотим получить новый столбец total_invoices
# который является результатом вычесления уникальных номеров заказа для каждого покупателя

In [42]:
invoice_dist.head()
# смотрим что находится у нас в переменной, куда мы сохранили прошлое значение

   CustomerID  total_invoices
0     12426.0               1
1     12427.0               3
2     12468.0               2
3     12471.0              30
4     12472.0               7

In [43]:
N = invoice_dist.total_invoices.quantile(0.8)
# дальше мы хотим получить то число, которое будет отсекать пользователей
# для нашего ТОПа
# число будет задано 80-м процентилем с помощью функции quantile
# эта функция ищет процентили и квантили
# по этому мы сначала обращаемя к даьафрейму который ранее создали invoice_dist
# а дальше обращаемся к колонке, по которой необходимо будет вычислять процентиль
# после чего обращаемся к методу quantile где в круглых скобках пишем 80% - (0.8)

In [44]:
N
# смотрим результат квантиля

7.0

In [47]:
germany_top = invoice_dist.loc[invoice_dist.total_invoices > N]['CustomerID']
# теперь мы используем полученые результаты для того, что бы отфильтровать пользователей по результатам
# в задании сказано, что у нас должны остаться только те, кто совершил более N заказов
# это так же можно реализовать с помощью фильтрации .loc или .query как удобнее
# создаём переменную germany_top где указываем полученый нами ранее датафрейм invoice_dist
# ствим фильтрацию .loc куда передаём датафрейм invoice_dist и колонку total_invoices
# по значению, что нам из них нужно значение ТОЧНО БОЛЬШЕ чем N - тоесть больше 8-ми
# и в конце говорим то, что в germany_top должны быть только индефикаторы пользователей
# по этому добавляем в квадратные скобки название той колонки CustomerID что содержит только идентификаторы

In [48]:
germany_top
# Смотрим рез-тат

3     12471.0
6     12474.0
8     12476.0
12    12481.0
16    12500.0
26    12524.0
37    12569.0
44    12600.0
51    12619.0
52    12621.0
56    12626.0
64    12647.0
69    12662.0
77    12705.0
78    12708.0
79    12709.0
81    12712.0
83    12720.0
Name: CustomerID, dtype: float64

                                             ______________________________________
                       Используя объект с id пользователей (germany_top), полученный на предыдущем шаге,
                                отфильтруйте наблюдения и оставьте в данных записи только
                                            по интересующим нас юзерам. 
                                Результирующий датафрейм запишите в top_retail_germany.
                                              _____________________________________

In [54]:
top_retail_germany = retail.loc[retail.CustomerID.isin(germany_top)]
# здесь нам нужно взять только тех людей и отфильтровать только тех, кто 
# сделал более 8 заказов
# создаём новую переменную top_retail_germany где говорим - по датафрейму.отфильтровать
# прописывая в квадратные скобки путь [датафрейм.колонка.метод isin по фильтрации данных из(germany_top)]

In [55]:
top_retail_germany
# Смотрим результат

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
541726,581570,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,12/9/2011 11:59,4.95,12662.0,Germany
541727,581570,23077,DOUGHNUT LIP GLOSS,20,12/9/2011 11:59,1.25,12662.0,Germany
541728,581570,20750,RED RETROSPOT MINI CASES,2,12/9/2011 11:59,7.95,12662.0,Germany
541729,581570,22505,MEMO BOARD COTTAGE DESIGN,4,12/9/2011 11:59,4.95,12662.0,Germany
541730,581570,POST,POSTAGE,1,12/9/2011 11:59,18.00,12662.0,Germany

                                             ________________________________
                                Сгруппируйте top_retail_germany по коду товара (StockCode).
                               
                               Какой из продуктов добавляли в корзину чаще всего, кроме POST? 
                                             ________________________________

In [57]:
top_retail_germany.groupby('StockCode').size().sort_values(ascending=False)
# обращаемся к прошлому датафрейму top_retil_germany и группируем .groupby
# по нужной нам колонке, в нашем случае - ('StockCode')
# далее используем метод .size, который обращается к определённой колонке
# данный метод аналогичен обращению .count 
# Разница заключается в том, что size() также считает NaN, в отличие от count().
# ну и для удобства отсортируем наш результат через sort_values()
# по убыванию, проставив ascending=False

StockCode
POST     213
22326     52
22328     38
22423     34
20719     30
        ...
23184      1
22242      1
23179      1
22246      1
10125      1
Length: 1158, dtype: int64

                                                 _________________________
                                       Вернемся к анализу полного датасета retail.
                                       Создайте колонку Revenue с суммой покупки,
                                         используя колонки Quantity и UnitPrice.
                                                 _________________________

In [59]:
retail['Revenue'] = retail.UnitPrice * retail.Quantity
# Создаём нашу новую колонку методом квадратных скобок передавая в датафрейм датафрейм['Нов.колонка']
# которая будет результатом перемножения двух колонок из датафрейма
# для этого перемножаем две колонки retail.Initprice умножаем на retail.Quantity
# где результат автоматически сохранится в новую колонку

In [62]:
retail
#Можем наблюдать новую колонку Revenue - в конце справа с результатом перемножения

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,14.85

                                             _____________________________________
                              Для каждой транзакции (InvoiceNo), посчитайте финальную сумму заказа.
                                        В качестве ответа укажите топ-5 (InvoiceNo)
                             по сумме заказа (через запятую с пробелом и в порядке убывания TotalRevenue)
                                             _____________________________________

In [67]:
retail.groupby('InvoiceNo').agg(TotalRevenue=('Revenue', 'sum'))
# Сгруппируем наш датафраем retail по колонке InvoiceNo 
# И сагрегируем что бы создать новый столбец с новым названием TotalRevenue
# который в конечном результате будет результатом сложения общей суммы от столбца Revenue

           TotalRevenue
InvoiceNo
536365           139.12
536366            22.20
536367           278.73
536368            70.05
536369            17.85
...                 ...
581586           339.20
581587           249.45
A563185        11062.06
A563186       -11062.06
A563187       -11062.06

[20728 rows x 1 columns]

In [69]:
top_revenue = retail.groupby('InvoiceNo').agg(TotalRevenue=('Revenue', 'sum')
                                             ).sort_values('TotalRevenue', ascending=False).head()
# Далее создадим новую переменную, в которую положим ответ для данного задания в top_revenue
# используем группировку по датафрейму и нужному стобцу датафрейм.группировка('Столбец')
# И сагрегируем что бы создать новый столбец с новым названием TotalRevenue
# который в конечном результате будет результатом сложения общей суммы от столбца Revenue
# после чего нам необходимо для получения топ-5 отсортировать данные по убыванию, 
# для этого мы воспользуемся функцией .sort_values куда положим новый 
# ранее созданый нами столбец 'TotalRevenue' и поставим значение по убыванию от 
# большего к меньшему ascending = False, и примени метод .head() для показа топ-5

In [71]:
top_revenue
# посмотрим на результат нового датафрейма

           TotalRevenue
InvoiceNo
581483        168469.60
541431         77183.60
574941         52940.94
576365         50653.91
556444         38970.00

In [72]:
top_revenue.index
# здесь мы можем вызвать .index для того, что бы посмотреть последние топ-индексы

Index(['581483', '541431', '574941', '576365', '556444'], dtype='object', name='InvoiceNo')

In [ ]:
pickups_by_mon_bor = df.groupby(['borough', 'pickup_month'], as_index=False) \
.agg({'pickups': 'sum'}) \
.sort_values('pickups', ascending=False)

In [1]:
pickups_s_s = df.groupbe(['borough', 'pickup_mounth'], as_index=False) \

NameError: name 'df' is not defined

In [2]:
def temp_to_celcius (temp):
    temp_c = (((temp - 32)*5.0)/9.0)
    return temp_c