#   Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. 
                      Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

                          Воспользуйтесь этим кодом, чтобы перевести данные из реквеста в пандас
                        ____________________________________________________________________________

In [44]:
import pandas as pd
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials
from io import BytesIO
import requests
import numpy as np

# считаем библиотеки

In [45]:
link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(link)
data = req.content

df = pd.read_csv(BytesIO(data))

# здесь мы СКОПИРОВАЛИ ССЫЛКУ ИЗ ЗАДАНИЯ ПРАВОЙ КЛАВИШЕЙ МЫШИ
# далее зададим переменную, в которой обратимся к методу requests.get(link)
# в котором скажем - скачай файл при помощи requests и при помощи get получи
# ответ от сайта, на котором храняться данные из переменной (link)
# далее создадим ещё одну переменную, где в функции req. и атрибуте content
# будет лежать наш конечный файл

# далее создадим переменную, df 
# где скажем при помощи метода pd.read_csv прочитаем наш файл data
# указав расширение BytesIO так как наши данные хранятся в формате b - bytes
# и нам необходимо их конвертировать и правильно прочитать 
# b'date,gender,users\r\n2020-06-14,Not specified,150\r\

In [46]:
data
# помсмотрим то, о чём говорили ранее, то, в чём хранятся данные

b'date,gender,users\r\n2020-06-14,Not specified,150\r\n2020-06-14,male,117\r\n2020-06-14,female,21'

In [47]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [48]:
df['precent'] = (df.users / df.users.sum() * 100).round()

# далее создадим новую колонку precent
# посчитаем процент мужчин male среди всех польователей сайта
# округлим ответ до целых 

# в скобки передадим df.users тоесть датафрейм и колонку
# и разделим на эту же колонку, после чего укажем .sum()
# что бы найти общую сумму двух колонок после деления
# после чего умножим на 100 что бы перевести  впроцент полученное значение
# а дале - укажем .round что бы округлить полученный результат до целых

In [49]:
df

         date         gender  users  precent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

                          _________________________________________________________________                                                     
                                                    YANDEX METRYCS

                        Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда
                                            (сохранен в переменную df). 
                        При помощи функции np.where создайте серию, в которую будет записываться 1,
                        если посещения были сделаны роботами с браузера, содержащего Chrome в названии,
                        и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.

Может понадобиться:

str.contains()
                                           ___________________________________

In [50]:
df = pd.read_csv('7_browser.csv')

# для начала прочитаем файл при помощи pd.read_csv

In [51]:
df.head()

# посмотрим что содержится в данных

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [52]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

In [53]:
chrome_robots = pd.Series(np.where((df.browser.str.contains('Chrome')) & (df.user_type == 'Robots'), 1, 0))

# нам необходимо при помощи np.where которая является функцией библиотеки numpy
# указав нужные условия создать pd.Series где будут либо единицы, либо ноль
# в зависимости от того, выполнилось ли наше условие или нет
# np.where - принимает на вход верные и неверные условия в зависимости от
# чего у нас меняются значения и сами значения 
# первым делом мы запишем условие, куда передадим датафрейм.колонку. обозначим что это срока str
# для того, что бы строковые методы и работа с ними стала доступна
# озвращает логические ряды или индексы в зависимости от того, содержится ли данный шаблон
# или регулярное выражение в строке ряда или индекса.
# куда мы и передадим значение колонки 'Crome'
# далее знак & обозначает - а так же
# а так же указываем то, что df.user_type должна быть равна 'Robots'
# если оба этих начения выполнены и встретились
# то питон проставит 1 - единицу - True, если не встретится поставит 0 - ноль - False

In [54]:
chrome_robots

# Посмотрим на результат

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

chrome_robots = np.where(df.browser.str.contains('Chrome'), 1, 0)
# так выглядит массив в сыром виде

                            У вас есть датасет с данными о кликах и показах по объявлению,
                                             в котором есть пропуски. 
                            Вычислите количество строк без пропусков в колонке click_type.
                                      Запишите ответ в переменную not_nan_count

                                              ad_id – id объявления
                                            user_id – id пользователя
                            click_type – тип клика (клик по заголовку объявления, клик по центру)
                                         Данные сохранены в переменную df.

In [63]:
df = pd.read_csv('sample_ads.csv')

# считаем загруженные данные

In [65]:
df
# посмотрим на датафрейм и увидим нужную колонку из задания

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [66]:
not_nan_count = df.click_type.notna().sum()

# создадим новую переменную, в которую запишем результат
# обратимся к загруженному датафрейму
# далее к колонке click_type
# далее применим .notna() которая Обнаруживает существующие (не пропущенные) значения. 
# Эта функция возвращает логический объект, имеющий тот же размер, 
# что и объект, указывая, являются ли значения отсутствующими значениями или нет.

# и применим .sum() что бы посчитать сумму общего колличества оставшихся
# click_type - ов без пропущенных значений

In [67]:
not_nan_count
# посмотрим результат

11

                    ____________________________________________________________________________
                 В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:

               при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
                      если это получилось – добавьте преобразованное значение  в список new_list
                    ____________________________________________________________________________

In [68]:
lst = [1, 'lol', '88005553535', '42', 295, -0.5, 0, None]

In [71]:
new_list = []
for i in lst:
    try:
        int_i = int(i)
        new_list.append(int_i)
    except:
        pass
    
# первым делом создадим наш контейнер, в который положим наши значения из верхнего списка
# зададим цикл for который пробегается по каждому элементу из списка
# сказав ПО каждому(i) ЭЛЕМЕНТУ ИЗ lst(списка) пройтись и конвертировать в int, как?

# здесь мы будем использовать консрукцию try и exept она позволит писать в блоке try
# некоторый код, который может содержать ошибки, если ошибок в процессе - нет, то он
# успешно выполняется 
# если же ошибки всё же возникают, то блок exept говорит что делать в этом случае
# в нашем - игнорировать ошибки

# здесь в блоке try мы запишем следущее:
#                             создадим переменную int_i
#                             где нашу переменную (контейнер) сделаем типом int
#                             если она проходит успешно то в new_list добавляем
#                             элементы из int_i в new_list где указали .append(int_i)
#                             тоесть - В НОВЫЙ СПИСОК.ДОБАВИТЬ из (ЭТОГО СПИСКА)
# если же конвертация была неуспешна то:
#                             Exept:
#                             Игнорировать ошибку

In [72]:
new_list

[1, 88005553535, 42, 295, 0, 0]